Repository jkawamoto/ctranslate2-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, rustfmt

.pre-commit-config.yaml:

exclude: ^CTranslate2/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: dprint
        name: run dprint
        entry: dprint fmt
        language: system
        files: \.(toml|md)$
        types: [text]
      - id: rustfmt
        name: run rustfmt
        entry: cargo fmt --
        language: system
        files: \.rs$
        types: [text]

docs: add hub feature to compile the docs
  Cargo.toml
Due: dprint

fix: CUDA library linking
  build.rs
  src/sys/config.rs
Due: rustfmt

fix: CUDNN library linking
  build.rs
Due: rustfmt

fix: adjust path separator for cross-platform compatibility
  build.rs
Due: rustfmt

chore: CI runs tests with OpenBLAS on Windows
  .github/workflows/build.yaml
Due: none

test: use CUDA if cuda feature is enabled
  src/generator.rs
  src/sys/generator.rs
  src/sys/translator.rs
  src/translator.rs
  src/whisper.rs
Due: rustfmt

Bump version: 0.9.3 → 0.9.4
  .bumpversion.cfg
  .pre-commit-config.yaml
  Cargo.toml
Due: dprint

chore: update dependencies
  Cargo.toml
Due: dprint

chore: update the CI to use the nightly toolchain on Linux
  .github/workflows/build.yaml
Due: none

Bump version: 0.9.4 → 0.9.5
  .bumpversion.cfg
  Cargo.toml
Due: dprint

feat: add score_batch to Generator
  build.rs
  include/generator.h
  src/generator.rs
  src/lib.rs
  src/sys.rs
  src/sys/generator.cpp
  src/sys/generator.rs
  src/sys/scoring.rs
Due: rustfmt

docs: add scoring feature documentation and related examples
  examples/gpt-2.rs
  src/generator.rs
  src/sys/generator.rs
  src/sys/scoring.rs
Due: rustfmt

chore: upgrade dependencies
  Cargo.toml
Due: dprint

chore: set RUST_TEST_THREADS to 1 in CI build workflow
  .github/workflows/build.yaml
Due: none

Bump version: 0.9.5 → 0.9.6
  .bumpversion.cfg
  Cargo.toml
Due: dprint

chore: switch to bump-my-version
  .bumpversion.cfg
  .bumpversion.toml
Due: dprint

chore: update pre-commit hooks to newer versions
  .pre-commit-config.yaml
Due: none

refactor: simplify translation result initialization.
  src/sys/translator.cpp
Due: none

fix: revert #74
  src/sys/generator.rs
  src/sys/translator.rs
  src/sys/whisper.rs
Due: rustfmt

chore: update dependencies to newer versions
  Cargo.toml
Due: dprint

chore: add release workflow and enable package publishing
  .github/workflows/release.yaml
Due: none

Bump version: 0.9.6 → 0.9.7
  .bumpversion.toml
  Cargo.toml
Due: dprint

fix: CI script for Windows
  .github/workflows/build.yaml
Due: none

fix: compile error with cmake v4
  Cargo.toml
  build.rs
Due: dprint, rustfmt

disable tokenizers
  Cargo.toml
  src/tokenizers.rs
  src/tokenizers/auto.rs
Due: dprint, rustfmt

.
  Cargo.toml
Due: dprint

add defaults & dnnl & openmp-runtime-comp
  Cargo.toml
  build.rs
Due: dprint, rustfmt

dnnl test + feature
  .github/workflows/build.yaml
  Cargo.toml
  README.md
  build.rs
Due: dprint, rustfmt

build dnnl in build.rs
  .github/workflows/build.yaml
  Cargo.toml
  README.md
  build.rs
Due: dprint, rustfmt

Update README.md
  README.md
Due: dprint

add vendor feature
  .github/vendor.yaml
  Cargo.toml
  build.rs
Due: dprint, rustfmt

add &
  build.rs
Due: rustfmt

move vendor.yaml to workflows
  .github/workflows/vendor.yaml
Due: none

use cuda 12.9 on linux
  .github/workflows/vendor.yaml
Due: none

download prebuild
  build.rs
Due: rustfmt

refactor: Stop hardcoding static linking of the C runtime on Windows
  README.md
  build.rs
Due: dprint, rustfmt

fix: add cache keys and enable `cache-on-failure` for Rust builds in GitHub Actions
  .github/workflows/build.yaml
Due: none

chore: add Hugging Face cache directories for macOS, Linux, and Windows builds
  .github/workflows/build.yaml
Due: none
