Repository jkawamoto/ctranslate2-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, rustfmt

dprint:
  name: run dprint
  entry: dprint fmt
  language: system

rustfmt:
  name: run rustfmt
  entry: cargo fmt --
  language: system

upload more & some minor fixes
  .github/workflows/vendor.yaml
  build.rs
Due: rustfmt

Update vendor.yaml
  .github/workflows/vendor.yaml
Due: none

patch build.rs
  build.rs
Due: rustfmt

chore: specify required features for `opt` and `whisper` examples in Cargo.toml
  Cargo.toml
Due: dprint

chore: replace `intel-mkl-src` with `intel-onemkl-prebuild` and update CI configurations
  .github/workflows/build.yaml
  Cargo.toml
  build.rs
  src/lib.rs
Due: dprint, rustfmt

docs: simplify Intel MKL usage instructions in README
  README.md
Due: dprint

refactor: replace manual path splitting with `env::split_paths` in `add_search_paths`
  build.rs
Due: rustfmt

feat: integrate oneDNN using `onednn-src` and remove custom build logic
  Cargo.toml
  build.rs
  src/lib.rs
Due: dprint, rustfmt

feat: add `ct2rs-platform` crate for platform-specific default feature sets
  Cargo.toml
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
  ct2rs-platform/src/lib.rs
Due: dprint, rustfmt

refactor: simplify feature flags and default configurations in `build.rs` and Cargo.toml
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

docs: update README with expanded usage instructions and feature details
  README.md
  ct2rs/README.md
Due: dprint

refactor: remove `feature` matrix in CI workflows and simplify build/test commands
  .github/workflows/build.yaml
Due: none

chore: publish both `ct2rs` and `ct2rs-platform` crates in release workflow
  .github/workflows/release.yaml
Due: none

feat: integrate OpenBLAS support with static linking
  README.md
  ct2rs/Cargo.toml
  ct2rs/build.rs
  ct2rs/src/lib.rs
Due: dprint, rustfmt

ci: add OpenBLAS to backend matrix in GitHub Actions
  .github/workflows/build.yaml
Due: none

Bump version: 0.9.7 → 0.9.8
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: update dependencies and pre-commit hooks to latest versions
  .pre-commit-config.yaml
  ct2rs/Cargo.toml
Due: dprint

refactor: adjust `translator.cpp` formatting for improved readability
  ct2rs/src/sys/translator.cpp
Due: none

docs: add third-party licenses and attributions to README
  README.md
Due: dprint

docs: include third-party library details in README
  README.md
Due: dprint

feat: add `system` feature to use pre-installed CTranslate2 library
  README.md
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

Add encode() and align() FFI for sys::Whisper.
  ct2rs/include/whisper.h
  ct2rs/src/sys/storage_view.rs
  ct2rs/src/sys/whisper.cpp
  ct2rs/src/sys/whisper.rs
Due: rustfmt

Add sys::ModelMemoryReader and Whisper::new_from_memory() using it.
  ct2rs/include/model_memory_reader.h
  ct2rs/include/whisper.h
  ct2rs/src/sys.rs
  ct2rs/src/sys/model_memory_reader.rs
  ct2rs/src/sys/whisper.rs
Due: rustfmt

CMake options for CUDA switched
  ct2rs/build.rs
Due: rustfmt

formatting fixes
  ct2rs/include/whisper.h
  ct2rs/src/sys/storage_view.rs
  ct2rs/src/sys/whisper.cpp
  ct2rs/src/sys/whisper.rs
Due: rustfmt

formatting fixes
  ct2rs/include/model_memory_reader.h
  ct2rs/include/whisper.h
  ct2rs/src/sys/model_memory_reader.rs
  ct2rs/src/sys/whisper.rs
Due: rustfmt

formatting fixes
  ct2rs/build.rs
Due: rustfmt

formatting fixes
  ct2rs/src/sys/whisper.cpp
  ct2rs/src/sys/whisper.rs
Due: rustfmt

formatting fixes
  ct2rs/src/sys/whisper.rs
Due: rustfmt

add model_memory_reader.rs to cxx_build::bridges in build.rs
  ct2rs/build.rs
Due: rustfmt

In model_memory_reader, switch u_char to uint8_t.
  ct2rs/include/model_memory_reader.h
Due: none

Update whisper.rs
  ct2rs/src/sys/whisper.rs
Due: rustfmt

ci: enable `all-tokenizers` feature in build and test steps across all platforms
  .github/workflows/build.yaml
Due: none

docs: refine comments in `model_memory_reader` and `whisper.rs`
  ct2rs/src/sys/model_memory_reader.rs
  ct2rs/src/sys/whisper.rs
Due: rustfmt

ci: add docs job to build workflow and switch release jobs to macOS
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: none

Bump version: 0.9.8 → 0.9.9
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

feat: add system-mkl feature and update MKL-related environment handling
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

Bump version: 0.9.9 → 0.9.10
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: update clang-format hook to v21.1.1 in pre-commit config
  .pre-commit-config.yaml
Due: none

Path conditions:
  dprint: any of: \.(toml|md)$, but not: ^CTranslate2/
  rustfmt: any of: \.rs$, but not: ^CTranslate2/
